.nav-link {
	font-size:30px; 
}
.uneOperation {
    padding-left: 40px;
	font-size:30px;
    clear: both;
}
.uneDate {
	font-size:30px;
    clear: both;
}
.uneDate > .wrap {
    border-bottom: 2px solid #c5c5c5;
}
.uneDate .nav-link {
    float: right;
}
.titre-operation {
    font-style: italic;
	font-size:25px;
}
