<nav class="navbar navbar-toggleable-md bg-color-primary text-color-primary-4 texture-asfalt">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons text-color-primary-4">reorder</i>
  </button>
  <a class="navbar-brand text-color-primary-4 font-minus" routerLink="/comptes" >Utilisateur</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-color-primary-4 font-walkaround size-title" routerLink="/operations">Operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-color-primary-4 font-walkaround size-title" routerLink="/categories">Categorie</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>