// http://paletton.com orange/bleu */

$color-primary-0: #FF9900;	// Main Primary color */
$color-primary-1: #FFB03A;
$color-primary-2: #FF9900;
$color-primary-3: #DC8400;
$color-primary-4: #AA6600;

$color-secondary-1-0: #190CC5;	// Main Secondary color (1) */
$color-secondary-1-1: #5449DB;
$color-secondary-1-2: #2D1FDC;
$color-secondary-1-3: #130999;
$color-secondary-1-4: #0E0677;

$color-secondary-2-0: #00BF81;	// Main Secondary color (2) */
$color-secondary-2-1: #31D7A1;
$color-secondary-2-2: #00D892;
$color-secondary-2-3: #009262;
$color-secondary-2-4: #00714C;

//palette orange jaune

$color-primary-0: #FF9900;	// Main Primary color */
$color-primary-1: #FFB03A;
$color-primary-2: #FF9900;
$color-primary-3: #DC8400;
$color-primary-4: #AA6600;

$color-secondary-1-0: #FFC500;	// Main Secondary color (1) */
$color-secondary-1-1: #FFD23A;
$color-secondary-1-2: #FFC500;
$color-secondary-1-3: #DCA900;
$color-secondary-1-4: #AA8300;

$color-secondary-2-0: #FF5600;	// Main Secondary color (2) */
$color-secondary-2-1: #FF7D3A;
$color-secondary-2-2: #FF5600;
$color-secondary-2-3: #DC4A00;
$color-secondary-2-4: #AA3900;