.nav-link {
	font-size:30px; 
}
.uneSousCategorie {
    padding-left: 40px;
	font-size:30px;
    clear: both;
}
.uneCategorie {
	font-size:30px;
    clear: both;
}
.uneCategorie > .wrap {
    border-bottom: 2px solid #c5c5c5;
}
.uneCategorie .nav-link {
    float: right;
}
